* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffccff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ff80aa;
    padding: 40px 60px;
    gap: 30px;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset {
    padding: 15px 20px;
    color: #f00;
    background: #fff;
    border: none;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.game {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 370px;
    height: 370px;
    background: #ed92c3;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item {
    position: relative;
    width: 80px;
    height: 80px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 8px;
    cursor: pointer;
}


.item.boxOpen {
    transform: rotateY(0deg);
}

.item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: #fff;
    transition: transform 0.4s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    z-index: 1;
}

.item.boxOpen::after,
.item.boxMatch::after {
    transform: rotateY(180deg);
    z-index: -1;
}
